@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    background-color: #f8f9fa;
}

.marketplace-card img {
    height: 220px;
    object-fit: cover;
}